.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(120, 119, 119); /* or any other color you prefer */
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 50%;
    font-size: 0.8em;
  }